# SPDX-License-Identifier: GPL-2.0-only
config WLAN_VENDOR_UNISOC
	bool "Unisoc devices"
	default y
	help
	  If you have a wireless card belonging to this class, say Y.

	  Note that the answer to this question doesn't directly affect the
	  kernel: saying N will just cause the configurator to skip all the
	  questions about these cards. If you say Y, you will be asked for
	  your specific card in the following questions.

if WLAN_VENDOR_UNISOC

config SC23XX_CORE
	tristate

config SC23XX_SIPC
	tristate "Unisoc UMW26xx/SC23xx series integrated WiFi support"
	depends on CFG80211
	depends on RPMSG
	select SC23XX_CORE
	help
	  This driver implements support for WiFi on Unisoc SoCs with an
	  integrated wireless controller combined with an SC23xx-series
	  chip.

endif
