// SPDX-License-Identifier: (GPL-2.0 OR MIT)
/*
 * Unisoc UMS9230 DTS file
 *
 * Copyright (C) 2024 Otto Pflüger
 *
 * Based on downstream kernel DTS file,
 * Copyright (C) 2020, Unisoc Inc.
 */

#include <dt-bindings/clock/sprd,ums9230-clk.h>
#include <dt-bindings/gpio/gpio.h>
#include <dt-bindings/interrupt-controller/arm-gic.h>
#include <dt-bindings/power/sprd,ums9230-power.h>
#include <dt-bindings/reset/sprd,ums9230-reset.h>
#include <dt-bindings/thermal/thermal.h>

/ {
	interrupt-parent = <&gic>;
	#address-cells = <2>;
	#size-cells = <2>;

	memory@80000000 {
		device_type = "memory";
		/* We expect the bootloader to fill in the reg */
		reg = <0x0 0x80000000 0x0 0x0>;
	};

	reserved-memory {
		#address-cells = <2>;
		#size-cells = <2>;
		ranges;

		nvmem@65014c00 {
			compatible = "sprd,ums9230-cache-efuse", "nvmem-rmem";
			reg = <0x0 0x65014c04 0x0 0x60>;
			no-map;

			nvmem-layout {
				compatible = "fixed-layout";
				#address-cells = <1>;
				#size-cells = <1>;

				cluster0_dvfs_bin: cluster0-dvfs-bin@17 {
					reg = <0x17 0x1>;
					bits = <0 3>;
				};

				cluster1_dvfs_bin: cluster1-dvfs-bin@1b {
					reg = <0x1b 0x1>;
					bits = <0 3>;
				};

				gpu_bin: gpu-bin@1b {
					reg = <0x1b 0x1>;
					bits = <3 3>;
				};

				wcn_alpha: wcn-alpha@24 {
					reg = <0x24 0x4>;
					bits = <0 32>;
				};

				thm2_sen3: thm2-sen3@28 {
					reg = <0x28 0x1>;
					bits = <0 8>;
				};

				thm2_sen2: thm2-sen2@29 {
					reg = <0x29 0x1>;
					bits = <0 8>;
				};

				thm2_sen4: thm2-sen4@2b {
					reg = <0x2b 0x1>;
					bits = <0 8>;
				};

				thm2_sen1: thm2-sen1@2e {
					reg = <0x2e 0x1>;
					bits = <0 8>;
				};

				thm0_sen5: thm0-sen5@2f {
					reg = <0x2f 0x1>;
					bits = <0 8>;
				};

				thm0_sign: thm0-sign@38 {
					reg = <0x38 0x1>;
					bits = <0 1>;
				};

				thm0_ratio: thm0-ratio@38 {
					reg = <0x38 0x1>;
					bits = <1 7>;
				};

				thm0_sen0: thm0-sen0@39 {
					reg = <0x39 0x1>;
					bits = <0 8>;
				};

				thm2_sign: thm2-sign@3e {
					reg = <0x3e 0x1>;
					bits = <0 1>;
				};

				thm2_ratio: thm2-ratio@3e {
					reg = <0x3e 0x1>;
					bits = <1 7>;
				};

				thm2_sen0: thm2-sen0@3f {
					reg = <0x3f 0x1>;
					bits = <0 8>;
				};

				thm0_sen2: thm0-sen2@40 {
					reg = <0x40 0x1>;
					bits = <0 8>;
				};

				thm0_sen1: thm0-sen1@41 {
					reg = <0x41 0x1>;
					bits = <0 8>;
				};

				thm0_sen4: thm0-sen4@42 {
					reg = <0x42 0x1>;
					bits = <0 8>;
				};

				thm0_sen3: thm0-sen3@43 {
					reg = <0x43 0x1>;
					bits = <0 8>;
				};
			};
		};

		reserved@80000000 {
			reg = <0x0 0x80000000 0x0 0x2000>;
			no-map;
		};

		wcn_btwf_region: btwf@87000000 {
			reg = <0x0 0x87000000 0x0 0x240000>;
			no-map;
		};

		sipc_wcn_btwf_region: smem@87240000 {
			compatible = "shared-dma-pool";
			reg = <0x0 0x87240000 0x0 0x240000>;
			no-map;
		};

		sipc_wcn_gnss_region: smem@87480000 {
			compatible = "shared-dma-pool";
			reg = <0x0 0x87480000 0x0 0x80000>;
			no-map;
		};

		wifi_dma_region: wifi-dma@87500000 {
			compatible = "restricted-dma-pool";
			reg = <0x0 0x87500000 0x0 0x100000>;
		};

		wcn_gnss_region: gnss@87600000 {
			reg = <0x0 0x87600000 0x0 0x1fdc00>;
			no-map;
		};

		wcn_btwf_sync_region: btwf-sync@877fdc00 {
			reg = <0x0 0x877fdc00 0x0 0x2000>;
			no-map;
		};

		wcn_gnss_sync_region: gnss-sync@877ffc00 {
			reg = <0x0 0x877ffc00 0x0 0x400>;
			no-map;
		};

		sipc_pmsys_region: smem@88000000 {
			compatible = "shared-dma-pool";
			reg = <0x0 0x88000000 0x0 0x40000>;
			no-map;
		};

		pmsys_region: pmsys@88040000 {
			reg = <0x0 0x88040000 0x0 0x2c0000>;
			no-map;
		};

		audiodsp@89000000 {
			reg = <0x0 0x89000000 0x0 0x600000>;
			no-map;
		};

		modem_region: modem@89600000 {
			reg = <0x0 0x89600000 0x0 0x4900000>;
			no-map;
		};

		sipc_modem_region: smem@8e000000 {
			compatible = "shared-dma-pool";
			reg = <0x0 0x8e000000 0x0 0x900000>;
			no-map;
		};

		audio_dma_region: audio@94100000 {
			compatible = "shared-dma-pool";
			reg = <0x0 0x94100000 0x0 0x200000>;
			no-map;
		};

		audio_fixed_region: audio@94380000 {
			reg = <0x0 0x94380000 0x0 0x80000>;
			no-map;
		};

		reserved@b0000000 {
			reg = <0x0 0xb0000000 0x0 0x6100000>;
			no-map;
		};
	};

	cpufreq: cpufreq {
		compatible = "sprd,cpufreq-v2";
		#address-cells = <1>;
		#size-cells = <0>;
		#performance-domain-cells = <1>;

		status = "disabled";

		cluster@0 {
			reg = <0>;
			nvmem-cells = <&cluster0_dvfs_bin>;
			nvmem-cell-names = "dvfs_bin";
			sprd,pmic-type = <0>;
			sprd,transition-delay-us = <500>;
		};

		cluster@1 {
			reg = <1>;
			nvmem-cells = <&cluster1_dvfs_bin>;
			nvmem-cell-names = "dvfs_bin";
			sprd,pmic-type = <1>;
			sprd,transition-delay-us = <500>;
		};
	};

	cpus {
		#address-cells = <2>;
		#size-cells = <0>;

		cpu-map {
			cluster0 {
				core0 {
					cpu = <&cpu0>;
				};
				core1 {
					cpu = <&cpu1>;
				};
				core2 {
					cpu = <&cpu2>;
				};
				core3 {
					cpu = <&cpu3>;
				};
				core4 {
					cpu = <&cpu4>;
				};
				core5 {
					cpu = <&cpu5>;
				};
			};
			cluster1 {
				core6 {
					cpu = <&cpu6>;
				};
				core7 {
					cpu = <&cpu7>;
				};
			};
		};

		cpu0: cpu@0 {
			device_type = "cpu";
			compatible = "arm,cortex-a55";
			reg = <0x0 0x0>;
			enable-method = "psci";
			cpu-idle-states = <&lit_core_pd>;
			performance-domains = <&cpufreq 0>;
			#cooling-cells = <2>;
		};

		cpu1: cpu@100 {
			device_type = "cpu";
			compatible = "arm,cortex-a55";
			reg = <0x0 0x100>;
			enable-method = "psci";
			cpu-idle-states = <&lit_core_pd>;
			performance-domains = <&cpufreq 0>;
			#cooling-cells = <2>;
		};

		cpu2: cpu@200 {
			device_type = "cpu";
			compatible = "arm,cortex-a55";
			reg = <0x0 0x200>;
			enable-method = "psci";
			cpu-idle-states = <&lit_core_pd>;
			performance-domains = <&cpufreq 0>;
			#cooling-cells = <2>;
		};

		cpu3: cpu@300 {
			device_type = "cpu";
			compatible = "arm,cortex-a55";
			reg = <0x0 0x300>;
			enable-method = "psci";
			cpu-idle-states = <&lit_core_pd>;
			performance-domains = <&cpufreq 0>;
			#cooling-cells = <2>;
		};

		cpu4: cpu@400 {
			device_type = "cpu";
			compatible = "arm,cortex-a55";
			reg = <0x0 0x400>;
			enable-method = "psci";
			cpu-idle-states = <&lit_core_pd>;
			performance-domains = <&cpufreq 0>;
			#cooling-cells = <2>;
		};

		cpu5: cpu@500 {
			device_type = "cpu";
			compatible = "arm,cortex-a55";
			reg = <0x0 0x500>;
			enable-method = "psci";
			cpu-idle-states = <&lit_core_pd>;
			performance-domains = <&cpufreq 0>;
			#cooling-cells = <2>;
		};

		cpu6: cpu@600 {
			device_type = "cpu";
			compatible = "arm,cortex-a75";
			reg = <0x0 0x600>;
			enable-method = "psci";
			cpu-idle-states = <&big_core_pd>;
			performance-domains = <&cpufreq 1>;
			#cooling-cells = <2>;
		};

		cpu7: cpu@700 {
			device_type = "cpu";
			compatible = "arm,cortex-a75";
			reg = <0x0 0x700>;
			enable-method = "psci";
			cpu-idle-states = <&big_core_pd>;
			performance-domains = <&cpufreq 1>;
			#cooling-cells = <2>;
		};
	};

	idle-states {
		entry-method = "psci";

		lit_core_pd: cpu-pd-lit {
			compatible = "arm,idle-state";
			entry-latency-us = <1000>;
			exit-latency-us = <500>;
			min-residency-us = <2500>;
			local-timer-stop;
			arm,psci-suspend-param = <0x00010000>;
		};

		big_core_pd: cpu-pd-big {
			compatible = "arm,idle-state";
			entry-latency-us = <4000>;
			exit-latency-us = <4000>;
			min-residency-us = <10000>;
			local-timer-stop;
			arm,psci-suspend-param = <0x00010000>;
		};
	};

	pmu-a55 {
		compatible = "arm,cortex-a55-pmu";
		interrupts = <GIC_SPI 112 IRQ_TYPE_LEVEL_HIGH>,
			     <GIC_SPI 113 IRQ_TYPE_LEVEL_HIGH>,
			     <GIC_SPI 114 IRQ_TYPE_LEVEL_HIGH>,
			     <GIC_SPI 115 IRQ_TYPE_LEVEL_HIGH>,
			     <GIC_SPI 116 IRQ_TYPE_LEVEL_HIGH>,
			     <GIC_SPI 117 IRQ_TYPE_LEVEL_HIGH>;
		interrupt-affinity = <&cpu0>, <&cpu1>, <&cpu2>, <&cpu3>, <&cpu4>, <&cpu5>;
	};

	pmu-a75 {
		compatible = "arm,cortex-a75-pmu";
		interrupts = <GIC_SPI 118 IRQ_TYPE_LEVEL_HIGH>,
			     <GIC_SPI 119 IRQ_TYPE_LEVEL_HIGH>;
		interrupt-affinity = <&cpu6>, <&cpu7>;
	};

	psci {
		compatible = "arm,psci-0.2";
		method = "smc";
	};

	timer {
		compatible = "arm,armv8-timer";
		interrupts = <GIC_PPI 13 IRQ_TYPE_LEVEL_HIGH>, /* Physical Secure PPI */
			     <GIC_PPI 14 IRQ_TYPE_LEVEL_HIGH>, /* Physical Non-Secure PPI */
			     <GIC_PPI 11 IRQ_TYPE_LEVEL_HIGH>, /* Virtual PPI */
			     <GIC_PPI 10 IRQ_TYPE_LEVEL_HIGH>; /* Hypervisor PPI */
		arm,no-tick-in-suspend;
	};

	agdsp: audio-dsp {
		compatible = "sprd,ums9230-agdsp";
		sprd,syscon-aon-apb = <&aon_apb_regs>;
		mboxes = <&mailbox 5>;
		memory-region = <&audio_fixed_region>;
		resets = <&pmu_gate RESET_PMU_APB_AUDCP_AUDDSP_SOFT_RST>,
			 <&pmu_gate RESET_PMU_APB_AUDCP_SOFT_RST>;
		reset-names = "core", "sys";
		#power-domain-cells = <0>;
	};

	sprd_pcm: audio-platform {
		compatible = "sprd,pcm-platform";
		dmas = <&agcp_dma 12>, <&agcp_dma 9>, <&agcp_dma 14>;
		dma-names = "voice_c", "fast_p", "dspcap_c";
		memory-region = <&audio_dma_region>;
	};

	audio-routing {
		compatible = "sprd,ums9230-vbc";
		sprd,dsp = <&agdsp>;
		memory-region = <&audio_dma_region>;
	};

	disp: display-subsystem {
		compatible = "sprd,display-subsystem";
		ports = <&dpu_port>;

		status = "disabled";
	};

	soc: soc {
		compatible = "simple-bus";
		ranges = <0 0 0x0 0x80000000>;
		#address-cells = <1>;
		#size-cells = <1>;

		gic: interrupt-controller@10000000 {
			compatible = "arm,gic-v3";
			reg = <0x10000000 0x20000>,	/* GICD */
			      <0x10040000 0x100000>;	/* GICR */
			#interrupt-cells = <3>;
			#address-cells = <2>;
			#size-cells = <2>;
			redistributor-stride = <0x0 0x20000>;	/* 128KB stride */
			#redistributor-regions = <1>;
			interrupt-controller;
			interrupts = <GIC_PPI 9 IRQ_TYPE_LEVEL_HIGH>;
		};

		ap_apb_regs: syscon@20000000 {
			compatible = "sprd,ums9230-glbregs", "syscon", "simple-mfd";
			reg = <0x20000000 0x10000>;
			#address-cells = <1>;
			#size-cells = <1>;
			ranges = <0x0 0x20000000 0x10000>;

			apapb_gate: clock-controller@0 {
				compatible = "sprd,ums9230-apapb-gate";
				reg = <0x0 0x3000>;
				clocks = <&ext_26m>;
				clock-names = "ext-26m";
				#clock-cells = <1>;
				#reset-cells = <1>;
			};
		};

		ap_clk: clock-controller@20010000 {
			compatible = "sprd,ums9230-ap-clk";
			reg = <0x20010000 0x1000>;
			clocks = <&ext_26m>, <&dphy_250m>, <&dphy_333m3>;
			clock-names = "ext-26m", "dphy-250m", "dphy-333m3";
			#clock-cells = <1>;
		};

		uart0: serial@200a0000 {
			compatible = "sprd,ums9230-uart",
				     "sprd,sc9836-uart";
			reg = <0x200a0000 0x100>;
			interrupts = <GIC_SPI 2 IRQ_TYPE_LEVEL_HIGH>;
			clocks = <&apapb_gate CLK_UART0_EB>,
				 <&ap_clk CLK_AP_UART0>,
				 <&ext_26m>;
			clock-names = "enable", "uart", "source";

			status = "disabled";
		};

		uart1: serial@200b0000 {
			compatible = "sprd,ums9230-uart",
				     "sprd,sc9836-uart";
			reg = <0x200b0000 0x100>;
			interrupts = <GIC_SPI 3 IRQ_TYPE_LEVEL_HIGH>;
			clocks = <&apapb_gate CLK_UART1_EB>,
				 <&ap_clk CLK_AP_UART1>,
				 <&ext_26m>;
			clock-names = "enable", "uart", "source";

			status = "disabled";
		};

		uart2: serial@200c0000 {
			compatible = "sprd,ums9230-uart",
				     "sprd,sc9836-uart";
			reg = <0x200c0000 0x100>;
			interrupts = <GIC_SPI 4 IRQ_TYPE_LEVEL_HIGH>;
			clocks = <&apapb_gate CLK_UART2_EB>,
				 <&ap_clk CLK_AP_UART2>,
				 <&ext_26m>;
			clock-names = "enable", "uart", "source";

			status = "disabled";
		};

		i2c0: i2c@200d0000 {
			compatible = "sprd,ums9230-i2c", "sprd,sc9860-i2c";
			reg = <0x200d0000 0x100>;
			interrupts = <GIC_SPI 11 IRQ_TYPE_LEVEL_HIGH>;
			clocks = <&ap_clk CLK_AP_I2C0>,
				 <&ext_26m>,
				 <&apapb_gate CLK_I2C0_EB>;
			clock-names = "i2c", "source", "enable";
			clock-frequency = <400000>;

			status = "disabled";
		};

		i2c1: i2c@200e0000 {
			compatible = "sprd,ums9230-i2c", "sprd,sc9860-i2c";
			reg = <0x200e0000 0x100>;
			interrupts = <GIC_SPI 12 IRQ_TYPE_LEVEL_HIGH>;
			clocks = <&ap_clk CLK_AP_I2C1>,
				 <&ext_26m>,
				 <&apapb_gate CLK_I2C1_EB>;
			clock-names = "i2c", "source", "enable";
			clock-frequency = <400000>;

			status = "disabled";
		};

		i2c2: i2c@200f0000 {
			compatible = "sprd,ums9230-i2c", "sprd,sc9860-i2c";
			reg = <0x200f0000 0x100>;
			interrupts = <GIC_SPI 13 IRQ_TYPE_LEVEL_HIGH>;
			clocks = <&ap_clk CLK_AP_I2C2>,
				 <&ext_26m>,
				 <&apapb_gate CLK_I2C2_EB>;
			clock-names = "i2c", "source", "enable";
			clock-frequency = <400000>;

			status = "disabled";
		};

		i2c3: i2c@20100000 {
			compatible = "sprd,ums9230-i2c", "sprd,sc9860-i2c";
			reg = <0x20100000 0x100>;
			interrupts = <GIC_SPI 14 IRQ_TYPE_LEVEL_HIGH>;
			clocks = <&ap_clk CLK_AP_I2C3>,
				 <&ext_26m>,
				 <&apapb_gate CLK_I2C3_EB>;
			clock-names = "i2c", "source", "enable";
			clock-frequency = <400000>;

			status = "disabled";
		};

		i2c4: i2c@20110000 {
			compatible = "sprd,ums9230-i2c", "sprd,sc9860-i2c";
			reg = <0x20110000 0x100>;
			interrupts = <GIC_SPI 15 IRQ_TYPE_LEVEL_HIGH>;
			clocks = <&ap_clk CLK_AP_I2C4>,
				 <&ext_26m>,
				 <&apapb_gate CLK_I2C4_EB>;
			clock-names = "i2c", "source", "enable";
			clock-frequency = <400000>;

			status = "disabled";
		};

		i2c5: i2c@20210000 {
			compatible = "sprd,ums9230-i2c", "sprd,sc9860-i2c";
			reg = <0x20210000 0x100>;
			interrupts = <GIC_SPI 35 IRQ_TYPE_LEVEL_HIGH>;
			clocks = <&ap_clk CLK_AP_I2C5>,
				 <&ext_26m>,
				 <&apapb_gate CLK_I2C5_EB>;
			clock-names = "i2c", "source", "enable";
			clock-frequency = <400000>;

			status = "disabled";
		};

		i2c6: i2c@20220000 {
			compatible = "sprd,ums9230-i2c", "sprd,sc9860-i2c";
			reg = <0x20220000 0x100>;
			interrupts = <GIC_SPI 36 IRQ_TYPE_LEVEL_HIGH>;
			clocks = <&ap_clk CLK_AP_I2C6>,
				 <&ext_26m>,
				 <&apapb_gate CLK_I2C6_EB>;
			clock-names = "i2c", "source", "enable";
			clock-frequency = <400000>;

			status = "disabled";
		};

		sdio0: mmc@201a0000 {
			compatible = "sprd,sdhci-r11";
			reg = <0x201a0000 0x1000>;
			interrupts = <GIC_SPI 19 IRQ_TYPE_LEVEL_HIGH>;
			clocks = <&ap_clk CLK_SDIO0_2X>,
				 <&apapb_gate CLK_SDIO0_EB>;
			clock-names = "sdio", "enable";
			assigned-clocks = <&ap_clk CLK_SDIO0_2X>;
			assigned-clock-parents = <&mpll1 CLK_RPLL>;

			status = "disabled";
		};

		sdio1: mmc@201b0000 {
			compatible = "sprd,sdhci-r11";
			reg = <0x201b0000 0x1000>;
			interrupts = <GIC_SPI 20 IRQ_TYPE_LEVEL_HIGH>;
			clocks = <&ap_clk CLK_SDIO1_2X>,
				 <&apapb_gate CLK_SDIO1_EB>;
			clock-names = "sdio", "enable";
			assigned-clocks = <&ap_clk CLK_SDIO1_2X>;
			assigned-clock-parents = <&pll1 CLK_LPLL_409M6>;

			status = "disabled";
		};

		sdio3: mmc@201d0000 {
			compatible = "sprd,sdhci-r11";
			reg = <0x201d0000 0x1000>;
			interrupts = <GIC_SPI 10 IRQ_TYPE_LEVEL_HIGH>;
			clocks = <&ap_clk CLK_EMMC_2X>,
				 <&apapb_gate CLK_EMMC_EB>;
			clock-names = "sdio", "enable";
			assigned-clocks = <&ap_clk CLK_EMMC_2X>;
			assigned-clock-parents = <&mpll1 CLK_RPLL>;

			status = "disabled";
		};

		ufs: ufs@20200000 {
			compatible = "sprd,ums9230-ufs";
			reg = <0x20200000 0x10000>;
			interrupts = <GIC_SPI 147 IRQ_TYPE_LEVEL_HIGH>;
			clocks = <&apapb_gate CLK_UFS_REG_EB>,
				 <&apapb_gate CLK_UFS_EB>,
				 <&ap_clk CLK_UFS_HCK>,
				 <&ap_clk CLK_UFS_PCK>;
			clock-names = "controller_eb", "core", "hck", "pck";
			freq-table-hz = <0 0>, <0 0>, <0 0>, <0 0>;
			assigned-clocks = <&ap_clk CLK_UFS_HCK>, <&ap_clk CLK_UFS_PCK>;
			assigned-clock-parents = <&pll1 CLK_TWPLL_256M>, <&pll1 CLK_TWPLL_256M>;
			resets = <&apapb_gate RESET_AP_APB_UFS_REG_SOFT_RST>,
				 <&apapb_gate RESET_AP_APB_UFS_GLB_RST>;
			reset-names = "controller", "global";
			sprd,ufs-anlg-syscon = <&anlg_phy_g1_regs>;
			sprd,ufs-ap-ahb-syscon = <&ap_ahb_regs>;

			status = "disabled";
		};

		ap_ahb_regs: syscon@20400000 {
			compatible = "sprd,ums9230-glbregs", "syscon", "simple-mfd";
			reg = <0x20400000 0x10000>;
			#address-cells = <1>;
			#size-cells = <1>;
			ranges = <0x0 0x20400000 0x10000>;

			apahb_gate: clock-controller@0 {
				compatible = "sprd,ums9230-apahb-gate";
				reg = <0x0 0x3000>;
				clocks = <&ext_26m>;
				clock-names = "ext-26m";
				#clock-cells = <1>;
				#reset-cells = <1>;
			};
		};

		gpu_clk: clock-controller@23000000 {
			compatible = "sprd,ums9230-gpu-clk";
			reg = <0x23000000 0x3000>;
			power-domains = <&pmu UMS9230_POWER_DOMAIN_GPU_TOP>;
			clocks = <&ext_26m>;
			clock-names = "ext-26m";
			#clock-cells = <1>;
			#reset-cells = <1>;
		};

		gpu: gpu@23100000 {
			compatible = "sprd,ums9230-mali", "arm,mali-valhall-jm";
			reg = <0x23100000 0x100000>;
			interrupts = <GIC_SPI 60 IRQ_TYPE_LEVEL_HIGH>,
				     <GIC_SPI 60 IRQ_TYPE_LEVEL_HIGH>,
				     <GIC_SPI 60 IRQ_TYPE_LEVEL_HIGH>;
			interrupt-names = "job", "mmu", "gpu";
			clocks = <&gpu_clk CLK_GPU_CORE_EB>,
				 <&gpu_clk CLK_GPU_MEM_EB>,
				 <&gpu_clk CLK_GPU_SYS_EB>;
			clock-names = "gpu", "mem", "bus";
			power-domains = <&pmu UMS9230_POWER_DOMAIN_GPU_TOP>;
			resets = <&gpu_clk RESET_GPU_APB_SYS_SOFT_RST_REQ_CORE>;

			status = "disabled";
		};

		mm_ahb_regs: syscon@30000000 {
			compatible = "sprd,ums9230-glbregs", "syscon", "simple-mfd";
			reg = <0x30000000 0x10000>;
			#address-cells = <1>;
			#size-cells = <1>;
			ranges = <0x0 0x30000000 0x10000>;

			mm_gate: clock-controller@0 {
				compatible = "sprd,ums9230-mm-gate-clk";
				reg = <0x0 0x3000>;
				power-domains = <&pmu UMS9230_POWER_DOMAIN_MM>;
				#clock-cells = <1>;
				#reset-cells = <1>;
			};
		};

		mm_clk: clock-controller@30010000 {
			compatible = "sprd,ums9230-mm-clk";
			reg = <0x30010000 0x1000>;
			power-domains = <&pmu UMS9230_POWER_DOMAIN_MM>;
			clocks = <&ext_26m>, <&mm_gate CLK_MM_CKG_EB>;
			clock-names = "ext-26m", "enable";
			#clock-cells = <1>;
		};

		dpu: dpu@31000000 {
			compatible = "sprd,ums9230-dpu", "sprd,sharkl3-dpu";
			reg = <0x31000000 0x800>;
			interrupts = <GIC_SPI 27 IRQ_TYPE_LEVEL_HIGH>;
			clocks = <&apahb_gate CLK_DISPC_EB>,
				 <&ap_clk CLK_DISPC0_DPI>;
			clock-names = "core", "dpi";
			iommus = <&iommu_disp>;

			status = "disabled";

			dpu_port: port {
				dpu_out: endpoint {
					remote-endpoint = <&dsi_in>;
				};
			};
		};

		iommu_disp: iommu@31000800 {
			compatible = "sprd,iommu-v1";
			reg = <0x31000800 0x80>;
			sprd,iova-range = <0x90000000 0x10000000>;
			#iommu-cells = <0>;
		};

		dsi: dsi@31100000 {
			compatible = "sprd,ums9230-dsi-host", "sprd,sharkl5-dsi-host";
			reg = <0x31100000 0x1000>;
			interrupts = <GIC_SPI 30 IRQ_TYPE_LEVEL_HIGH>,
				     <GIC_SPI 31 IRQ_TYPE_LEVEL_HIGH>;
			clocks = <&apahb_gate CLK_DSI_EB>;
			clock-names = "pclk";

			status = "disabled";

			ports {
				#address-cells = <1>;
				#size-cells = <0>;

				port@0 {
					reg = <0>;
					dsi_in: endpoint {
						remote-endpoint = <&dpu_out>;
					};
				};

				port@1 {
					reg = <1>;
					dsi_out: endpoint { };
				};
			};
		};

		isp@3a000000 {
			compatible = "sprd,ums9230-isp";
			reg = <0x3a000000 0x40000>;
			interrupts = <GIC_SPI 43 IRQ_TYPE_LEVEL_HIGH>,
				     <GIC_SPI 44 IRQ_TYPE_LEVEL_HIGH>;
			interrupt-names = "ch0", "ch1";
			clocks = <&mm_gate CLK_ISP_AHB_EB>;
			assigned-clocks = <&mm_clk CLK_ISP>;
			assigned-clock-parents = <&pll1 CLK_ISPPLL_468M>;
			resets = <&mm_gate RESET_MM_AHB_ISP_SOFT_RST>,
				 <&mm_gate RESET_MM_AHB_ISP_AHB_SOFT_RST>;
			reset-names = "core", "ahb";
			iommus = <&iommu_isp>;
		};

		iommu_isp: iommu@3a0ff000 {
			compatible = "sprd,iommu-v1";
			reg = <0x3a0ff000 0x80>;
			clocks = <&mm_gate CLK_ISP_AHB_EB>;
			sprd,iova-range = <0x40000000 0x40000000>;
			#iommu-cells = <0>;
		};

		camsys: camera-subsystem@3e000000 {
			compatible = "sprd,ums9230-camsys";

			reg = <0x3e200000 0x1000>,
			      <0x3e300000 0x1000>,
			      <0x3e400000 0x1000>,
			      <0x3e000000 0x1000>,
			      <0x3e001000 0x1000>,
			      <0x3e002000 0x1000>,
			      <0x3e003000 0x1000>;
			reg-names = "csi0",
				    "csi1",
				    "csi2",
				    "dcam0",
				    "dcam1",
				    "dcam2",
				    "dcam_axi";

			interrupts = <GIC_SPI 57 IRQ_TYPE_LEVEL_HIGH>,
				     <GIC_SPI 58 IRQ_TYPE_LEVEL_HIGH>,
				     <GIC_SPI 59 IRQ_TYPE_LEVEL_HIGH>;
			interrupt-names = "dcam0", "dcam1", "dcam2";

			clocks = <&aon_gate CLK_CPHY_CFG_EN>,
				 <&mm_gate CLK_MM_CSI0_EB>,
				 <&mm_gate CLK_MM_CSI1_EB>,
				 <&mm_gate CLK_MM_CSI2_EB>,
				 <&mm_clk CLK_MIPI_CSI0>,
				 <&mm_clk CLK_MIPI_CSI1>,
				 <&mm_clk CLK_MIPI_CSI2>,
				 <&mm_gate CLK_MM_MIPI_CSI0_EB>,
				 <&mm_gate CLK_MM_DCAM_EB>;
			clock-names = "cphy_cfg_en",
				      "csi0",
				      "csi1",
				      "csi2",
				      "mipi_csi0",
				      "mipi_csi1",
				      "mipi_csi2",
				      "mipi_gate",
				      "dcam";

			assigned-clocks = <&mm_clk CLK_DCAM_IF>,
					  <&mm_clk CLK_DCAM_AXI>;
			assigned-clock-parents = <&pll1 CLK_ISPPLL_468M>,
						 <&pll1 CLK_ISPPLL_468M>;

			resets = <&mm_gate RESET_MM_AHB_MIPI_CSI0_SOFT_RST>,
				 <&mm_gate RESET_MM_AHB_MIPI_CSI1_SOFT_RST>,
				 <&mm_gate RESET_MM_AHB_MIPI_CSI2_SOFT_RST>,
				 <&mm_gate RESET_MM_AHB_DCAM0_SOFT_RST>,
				 <&mm_gate RESET_MM_AHB_DCAM1_SOFT_RST>,
				 <&mm_gate RESET_MM_AHB_DCAM2_SOFT_RST>,
				 <&mm_gate RESET_MM_AHB_DCAM_AXI_SOFT_RST>;
			reset-names = "csi0",
				      "csi1",
				      "csi2",
				      "dcam0",
				      "dcam1",
				      "dcam2",
				      "dcam_axi";

			sprd,syscon-mm-ahb = <&mm_ahb_regs>;
			sprd,syscon-anlg-phy = <&anlg_phy_g10_regs>;
			iommus = <&iommu_dcam>;

			status = "disabled";
		};

		iommu_dcam: iommu@3e00f000 {
			compatible = "sprd,iommu-v1";
			reg = <0x3e00f000 0x80>;
			clocks = <&mm_gate CLK_MM_DCAM_EB>;
			sprd,iova-range = <0x40000000 0x40000000>;
			#iommu-cells = <0>;
		};

		wcncp_btwf_ahb_regs: syscon@51130000 {
			compatible = "sprd,ums9230-glbregs", "syscon", "simple-mfd";
			reg = <0x51130000 0x3000>;
		};

		wcncp_aon_apb_regs: syscon@5180c000 {
			compatible = "sprd,ums9230-glbregs", "syscon", "simple-mfd";
			reg = <0x5180c000 0x3000>;
		};

		wcncp_aon_ahb_regs: syscon@51880000 {
			compatible = "sprd,ums9230-glbregs", "syscon", "simple-mfd";
			reg = <0x51880000 0x3000>;
		};

		wcncp_gnss_ahb_regs: syscon@51b18000 {
			compatible = "sprd,ums9230-glbregs", "syscon", "simple-mfd";
			reg = <0x51b18000 0x11000>;
		};

		audcp_ahb_regs: syscon@56000000 {
			compatible = "sprd,ums9230-glbregs", "syscon", "simple-mfd";
			reg = <0x56000000 0x3000>;
			#address-cells = <1>;
			#size-cells = <1>;
			ranges = <0x0 0x56000000 0x3000>;

			audcpahb_gate: clock-controller@0 {
				compatible = "sprd,ums9230-audcpahb-gate";
				reg = <0x0 0x3000>;
				clocks = <&ext_26m>;
				clock-names = "ext-26m";
				#clock-cells = <1>;
				#reset-cells = <1>;
			};
		};

		mcdt@56490000 {
			compatible = "sprd,ums9230-mcdt";
			reg = <0x56490000 0x170>;
			interrupts = <GIC_SPI 182 IRQ_TYPE_LEVEL_HIGH>;
			clocks = <&audcpahb_gate CLK_AUDCP_MCDT_EB>;
			power-domains = <&agdsp>;
		};

		agcp_dma: dma-controller@56580000 {
			compatible = "sprd,ums9230-dma", "sprd,sc9860-dma";
			reg = <0x56580000 0x4000>;
			interrupts = <GIC_SPI 180 IRQ_TYPE_LEVEL_HIGH>;
			clocks = <&audcpahb_gate CLK_AUDCP_DMA_AP_EB>,
				 <&audcpahb_gate CLK_AUDCP_DMA_AP_ASHB_EB>;
			clock-names = "enable", "ashb_eb";
			power-domains = <&agdsp>;
			#dma-cells = <1>;
			dma-channels = <32>;
		};

		dig_codec: audio-codec@56750000 {
			compatible = "sprd,ums9230-digital-codec";
			reg = <0x56750000 0x1000>;
			clocks = <&audcpahb_gate CLK_AUDCP_AUD_EB>;
			power-domains = <&agdsp>;
			#sound-dai-cells = <1>;
		};

		pub_apb_regs: syscon@60000000 {
			compatible = "sprd,ums9230-glbregs", "syscon", "simple-mfd";
			reg = <0x60000000 0x11000>;
		};

		pmsys@62010000 {
			compatible = "sprd,ums9230-pmsys";
			reg = <0x62010000 0x1000>;
			dma-ranges = <0x18000000 0x88000000 0x08000000>;
			#address-cells = <1>;
			#size-cells = <1>;

			sprd,syscon-aon-apb = <&aon_apb_regs>;

			resets = <&pmu_gate RESET_PMU_APB_SP_SOFT_RST>;

			memory-region = <&pmsys_region>;
			firmware-name = "sprd/pm_bootcode.bin", "sprd/pm_sys.bin";

			sipc {
				#address-cells = <1>;
				#size-cells = <0>;

				mboxes = <&mailbox 1>, <&mailbox 6>;

				memory-region = <&sipc_pmsys_region>;

				channel@4 {
					reg = <4>;
					sprd,channel-type = "sbuf";
					#address-cells = <1>;
					#size-cells = <1>;
					sprd,num-buffers = <2>;
					sprd,tx-buf-size = <0x180>;
					sprd,rx-buf-size = <0xb00>;

					rpmsg@0 {
						reg = <0>, <0>;
						//sprd,channel-name = "spipe_pm"
						sprd,channel-name = "rpmsg-raw"; // testing
					};

					rpmsg@1 {
						reg = <1>, <1>;
						//sprd,channel-name = "spipe_pm"
						sprd,channel-name = "rpmsg-raw"; // testing
					};
				};

				channel@6 {
					reg = <6>;
					sprd,channel-type = "sbuf";
					#address-cells = <1>;
					#size-cells = <1>;
					sprd,num-buffers = <1>;
					sprd,tx-buf-size = <0x20>;
					sprd,rx-buf-size = <0x40>;

					rpmsg@0 {
						reg = <0>, <0>;
						//sprd,channel-name = "sctl_pm"
						sprd,channel-name = "rpmsg-raw"; // testing
					};
				};

				channel@7 {
					reg = <7>;
					sprd,channel-type = "sbuf";
					#address-cells = <1>;
					#size-cells = <1>;
					sprd,num-buffers = <1>;
					sprd,tx-buf-size = <0x10000>;
					sprd,rx-buf-size = <0x10000>;

					rpmsg@0 {
						reg = <0>, <0>;
						//sprd,channel-name = "spipe_pm_gnss"
						sprd,channel-name = "rpmsg-raw"; // testing
					};
				};

				/* channel 22 is DVFS-related */

				channel@41 {
					reg = <41>;
					sprd,channel-type = "sbuf";
					#address-cells = <1>;
					#size-cells = <1>;
					sprd,num-buffers = <1>;
					sprd,tx-buf-size = <0x80>;
					sprd,rx-buf-size = <0x40>;

					rpmsg@0 {
						reg = <0>, <0>;
						//sprd,channel-name = "stime_pm"
						sprd,channel-name = "rpmsg-raw"; // testing
					};
				};
			};
		};

		aon_apb_regs: syscon@64000000 {
			compatible = "sprd,ums9230-glbregs", "syscon", "simple-mfd";
			reg = <0x64000000 0x10000>;
			#address-cells = <1>;
			#size-cells = <1>;
			ranges = <0x0 0x64000000 0x10000>;

			aon_gate: clock-controller@0 {
				compatible = "sprd,ums9230-aon-gate";
				reg = <0x0 0x3000>;
				clocks = <&ext_26m>;
				clock-names = "ext-26m";
				#clock-cells = <1>;
				#reset-cells = <1>;
			};
		};

		aon_clk: clock-controller@64012000 {
			compatible = "sprd,ums9230-aonapb-clk";
			reg = <0x64012000 0x1000>;
			clocks = <&ext_26m>, <&ext_32k>, <&rco_100m>;
			clock-names = "ext-26m", "ext-32k", "rco-100m";
			#clock-cells = <1>;
		};

		pmu_apb_regs: syscon@64020000 {
			compatible = "sprd,ums9230-glbregs", "syscon", "simple-mfd";
			reg = <0x64020000 0x10000>;
			#address-cells = <1>;
			#size-cells = <1>;
			ranges = <0x0 0x64020000 0x10000>;

			pmu_gate: clock-controller@0 {
				compatible = "sprd,ums9230-pmu-gate";
				reg = <0x0 0x3000>;
				clocks = <&ext_26m>;
				clock-names = "ext-26m";
				#clock-cells = <1>;
				#reset-cells = <1>;
			};

			pmu: power-controller {
				compatible = "sprd,ums9230-power-controller";
				#address-cells = <1>;
				#size-cells = <0>;
				#power-domain-cells = <1>;

				power-domain@UMS9230_POWER_DOMAIN_GPU_TOP {
					reg = <UMS9230_POWER_DOMAIN_GPU_TOP>;
					clocks = <&aon_gate CLK_GPU_EB>;
					#power-domain-cells = <0>;
				};

				power-domain@UMS9230_POWER_DOMAIN_MM {
					reg = <UMS9230_POWER_DOMAIN_MM>;
					clocks = <&aon_gate CLK_MM_EB>;
					#power-domain-cells = <0>;
				};

				power-domain@UMS9230_POWER_DOMAIN_PUBCP {
					reg = <UMS9230_POWER_DOMAIN_PUBCP>;
					#power-domain-cells = <0>;
				};

				power-domain@UMS9230_POWER_DOMAIN_WCN {
					reg = <UMS9230_POWER_DOMAIN_WCN>;
					#power-domain-cells = <0>;
				};
			};
		};

		eic_debounce: gpio@64100000 {
			compatible = "sprd,ums9230-eic-debounce",
				     "sprd,sc9860-eic-debounce";
			reg = <0x64100000 0x80>,
			      <0x64110000 0x80>,
			      <0x64120000 0x80>,
			      <0x64130000 0x80>,
			      <0x64140000 0x80>,
			      <0x64150000 0x80>;
			gpio-controller;
			#gpio-cells = <2>;
			interrupt-controller;
			#interrupt-cells = <2>;
			interrupts = <GIC_SPI 72 IRQ_TYPE_LEVEL_HIGH>;
		};

		eic_latch: gpio@64100080 {
			compatible = "sprd,ums9230-eic-latch",
				     "sprd,sc9860-eic-latch";
			reg = <0x64100080 0x20>,
			      <0x64110080 0x20>,
			      <0x64120080 0x20>,
			      <0x64130080 0x20>,
			      <0x64140080 0x20>,
			      <0x64150080 0x20>;
			gpio-controller;
			#gpio-cells = <2>;
			interrupt-controller;
			#interrupt-cells = <2>;
			interrupts = <GIC_SPI 72 IRQ_TYPE_LEVEL_HIGH>;
		};

		eic_async: gpio@641000a0 {
			compatible = "sprd,ums9230-eic-async",
				     "sprd,sc9860-eic-async";
			reg = <0x641000a0 0x20>,
			      <0x641100a0 0x20>,
			      <0x641200a0 0x20>,
			      <0x641300a0 0x20>,
			      <0x641400a0 0x20>,
			      <0x641500a0 0x20>;
			gpio-controller;
			#gpio-cells = <2>;
			interrupt-controller;
			#interrupt-cells = <2>;
			interrupts = <GIC_SPI 72 IRQ_TYPE_LEVEL_HIGH>;
		};

		eic_sync: gpio@641000c0 {
			compatible = "sprd,ums9230-eic-sync",
				     "sprd,sc9860-eic-sync";
			reg = <0x641000c0 0x20>,
			      <0x641100c0 0x20>,
			      <0x641200c0 0x20>,
			      <0x641300c0 0x20>,
			      <0x641400c0 0x20>,
			      <0x641500c0 0x20>;
			gpio-controller;
			#gpio-cells = <2>;
			interrupt-controller;
			#interrupt-cells = <2>;
			interrupts = <GIC_SPI 72 IRQ_TYPE_LEVEL_HIGH>;
		};

		aon_i2c0: i2c@641a0000 {
			compatible = "sprd,ums9230-hw-i2c";
			reg = <0x641a0000 0x10000>;
			interrupts = <GIC_SPI 68 IRQ_TYPE_LEVEL_HIGH>;
			clocks = <&aon_gate CLK_I2C_EB>,
				 <&aon_clk CLK_AON_I2C>,
				 <&ext_26m>;
			clock-names = "enable", "i2c", "source";
			clock-frequency = <400000>;

			status = "disabled";
		};

		ap_gpio: gpio@641b0000 {
			compatible = "sprd,ums9230-gpio", "sprd,sc9860-gpio";
			reg = <0x641b0000 0x10000>;
			gpio-controller;
			#gpio-cells = <2>;
			interrupt-controller;
			#interrupt-cells = <2>;
			interrupts = <GIC_SPI 61 IRQ_TYPE_LEVEL_HIGH>;
		};

		mailbox: mailbox@641c0000 {
			compatible = "sprd,ums9230-mailbox";
			reg = <0x641c0000 0x10000>,
			      <0x641d0000 0x10000>;
			#mbox-cells = <1>;
			clocks = <&aon_gate CLK_MBOX_EB>;
			clock-names = "enable";
			interrupts = <GIC_SPI 82 IRQ_TYPE_LEVEL_HIGH>,
				     <GIC_SPI 83 IRQ_TYPE_LEVEL_HIGH>,
				     <GIC_SPI 84 IRQ_TYPE_LEVEL_HIGH>;
			interrupt-names = "inbox", "outbox", "supp-outbox";
		};

		adi_bus: spi@64200000 {
			compatible = "sprd,ums9230-adi", "sprd,ums512-adi";
			reg = <0x64200000 0x100000>;
			#address-cells = <1>;
			#size-cells = <0>;
			sprd,hw-channels = <2 0x18cc>, <3 0x18cc>,
					   <13 0x1854>, <15 0x1874>,
					   <17 0x1844>, <19 0x1844>,
					   <21 0x1864>, <30 0x1820>,
					   <32 0x197c>, <33 0x1988>,
					   <35 0x19b8>, <39 0x19ac>;
		};

		pwm: pwm@643f0000 {
			compatible = "sprd,ums9230-pwm", "sprd,ums512-pwm";
			reg = <0x643f0000 0x10000>;
			clocks = <&aon_clk CLK_PWM0>, <&aon_gate CLK_PWM0_EB>,
				 <&aon_clk CLK_PWM1>, <&aon_gate CLK_PWM1_EB>,
				 <&aon_clk CLK_PWM2>, <&aon_gate CLK_PWM2_EB>,
				 <&aon_clk CLK_PWM3>, <&aon_gate CLK_PWM3_EB>;
			clock-names = "pwm0", "enable0",
				      "pwm1", "enable1",
				      "pwm2", "enable2",
				      "pwm3", "enable3";
			assigned-clocks = <&aon_clk CLK_PWM0>,
					  <&aon_clk CLK_PWM1>,
					  <&aon_clk CLK_PWM2>,
					  <&aon_clk CLK_PWM3>;
			assigned-clock-parents = <&ext_26m>,
						 <&ext_26m>,
						 <&ext_26m>,
						 <&ext_26m>;
			#pwm-cells = <2>;
		};

		/*timer@64470000 {
			compatible = "sprd,ums9230-timer", "sprd,sc9860-timer";
			reg = <0x64470000 0x20>;
			interrupts = <GIC_SPI 71 IRQ_TYPE_LEVEL_HIGH>;
			clocks = <&ext_32k>;
		};*/

		timer@64470020 {
			compatible = "sprd,ums9230-suspend-timer", "sprd,sc9860-suspend-timer";
			reg = <0x64470020 0x20>;
			clocks = <&ext_32k>;
		};

		ap_thm0: thermal@644b0000 {
			compatible = "sprd,ums9230-thermal", "sprd,ums512-thermal";
			reg = <0x644b0000 0x10000>;
			clocks = <&aon_gate CLK_THM0_EB>;
			clock-names = "enable";
			#thermal-sensor-cells = <1>;
			nvmem-cells = <&thm0_sign>, <&thm0_ratio>;
			nvmem-cell-names = "thm_sign_cal", "thm_ratio_cal";
			#address-cells = <1>;
			#size-cells = <0>;

			sensor@0 {
				reg = <0>;
				nvmem-cells = <&thm0_sen0>;
				nvmem-cell-names = "sen_delta_cal";
			};

			sensor@1 {
				reg = <1>;
				nvmem-cells = <&thm0_sen1>;
				nvmem-cell-names = "sen_delta_cal";
			};

			sensor@2 {
				reg = <2>;
				nvmem-cells = <&thm0_sen2>;
				nvmem-cell-names = "sen_delta_cal";
			};

			sensor@3 {
				reg = <3>;
				nvmem-cells = <&thm0_sen3>;
				nvmem-cell-names = "sen_delta_cal";
			};

			sensor@4 {
				reg = <4>;
				nvmem-cells = <&thm0_sen4>;
				nvmem-cell-names = "sen_delta_cal";
			};

			sensor@5 {
				reg = <5>;
				nvmem-cells = <&thm0_sen5>;
				nvmem-cell-names = "sen_delta_cal";
			};
		};

		ap_thm2: thermal@644d0000 {
			compatible = "sprd,ums9230-thermal", "sprd,ums512-thermal";
			reg = <0x644d0000 0x10000>;
			clocks = <&aon_gate CLK_THM2_EB>;
			clock-names = "enable";
			#thermal-sensor-cells = <1>;
			nvmem-cells = <&thm2_sign>, <&thm2_ratio>;
			nvmem-cell-names = "thm_sign_cal", "thm_ratio_cal";
			#address-cells = <1>;
			#size-cells = <0>;

			sensor@0 {
				reg = <0>;
				nvmem-cells = <&thm2_sen0>;
				nvmem-cell-names = "sen_delta_cal";
			};

			sensor@1 {
				reg = <1>;
				nvmem-cells = <&thm2_sen1>;
				nvmem-cell-names = "sen_delta_cal";
			};

			sensor@2 {
				reg = <2>;
				nvmem-cells = <&thm2_sen2>;
				nvmem-cell-names = "sen_delta_cal";
			};

			sensor@3 {
				reg = <3>;
				nvmem-cells = <&thm2_sen3>;
				nvmem-cell-names = "sen_delta_cal";
			};

			sensor@4 {
				reg = <4>;
				nvmem-cells = <&thm2_sen4>;
				nvmem-cell-names = "sen_delta_cal";
			};
		};

		watchdog@644e0000 {
			compatible = "sprd,ums9230-wdt", "sprd,sp9860-wdt";
			reg = <0x644e0000 0x1000>;
			interrupts = <GIC_SPI 79 IRQ_TYPE_LEVEL_HIGH>;
			timeout-sec = <12>;
			clocks = <&aon_gate CLK_APCPU_WDG_EB>,
				 <&aon_gate CLK_AC_WDG_RTC_EB>;
			clock-names = "enable", "rtc_enable";
		};

		anlg_phy_g0_regs: syscon@64550000 {
                        compatible = "sprd,ums9230-glbregs", "syscon", "simple-mfd";
                        reg = <0x64550000 0x10000>;
			#address-cells = <1>;
			#size-cells = <1>;
			ranges = <0x0 0x64550000 0x10000>;

			dpll0: clock-controller@0 {
				compatible = "sprd,ums9230-g0-pll";
				reg = <0x0 0x100>;
				#clock-cells = <1>;
			};
                };

		anlg_phy_g1_regs: syscon@64560000 {
                        compatible = "sprd,ums9230-glbregs", "syscon", "simple-mfd";
                        reg = <0x64560000 0x10000>;
			#address-cells = <1>;
			#size-cells = <1>;
			ranges = <0x0 0x64560000 0x10000>;

			pll0: clock-controller@0 {
				compatible = "sprd,ums9230-g1-pll";
				reg = <0x0 0x100>;
				clocks = <&ext_26m>;
				clock-names = "ext-26m";
				#clock-cells = <1>;
			};
                };

		anlg_phy_g2_regs: syscon@64570000 {
                        compatible = "sprd,ums9230-glbregs", "syscon", "simple-mfd";
                        reg = <0x64570000 0x10000>;
			#address-cells = <1>;
			#size-cells = <1>;
			ranges = <0x0 0x64570000 0x10000>;

			hsphy: phy@0 {
				compatible = "sprd,ums9230-hsphy";
				reg = <0x0 0x3000>;
				sprd,syscon-aon-apb = <&aon_apb_regs>;
				#phy-cells = <0>;

				status = "disabled";
			};
                };

		anlg_phy_g3_regs: syscon@64580000 {
                        compatible = "sprd,ums9230-glbregs", "syscon", "simple-mfd";
                        reg = <0x64580000 0x10000>;
			#address-cells = <1>;
			#size-cells = <1>;
			ranges = <0x0 0x64580000 0x10000>;

			mpll1: clock-controller@0 {
				compatible = "sprd,ums9230-g3-pll";
				reg = <0x0 0x100>;
				clocks = <&ext_26m>;
				clock-names = "ext-26m";
				#clock-cells = <1>;
			};
                };

		anlg_phy_gc_regs: syscon@645a0000 {
                        compatible = "sprd,ums9230-glbregs", "syscon", "simple-mfd";
                        reg = <0x645a0000 0x10000>;
			#address-cells = <1>;
			#size-cells = <1>;
			ranges = <0x0 0x645a0000 0x10000>;

			pll1: clock-controller@0 {
				compatible = "sprd,ums9230-gc-pll";
				reg = <0x0 0x100>;
				clocks = <&ext_26m>;
				clock-names = "ext-26m";
				#clock-cells = <1>;
			};
                };

		anlg_phy_g10_regs: syscon@645b0000 {
			compatible = "sprd,ums9230-glbregs", "syscon", "simple-mfd";
			reg = <0x645b0000 0x10000>;
		};

		pinctrl: pinctrl@64710000 {
			compatible = "sprd,ums9230-pinctrl";
			reg = <0x64710000 0x10000>;
		};

		usb: usb@64900000 {
			compatible = "sprd,ums9230-musb", "sprd,musb";
			reg = <0x64900000 0x2000>;
			interrupts = <GIC_SPI 69 IRQ_TYPE_LEVEL_HIGH>;
			interrupt-names = "mc";
			clocks = <&aon_gate CLK_OTG_UTMI_EB>;
			phys = <&hsphy>;

			status = "disabled";
		};

		hwlock: hwspinlock@64910000 {
			compatible = "sprd,hwspinlock-r3p0";
			reg = <0x64910000 0x1000>;
			#hwlock-cells = <1>;
			clocks = <&aon_gate CLK_SPLK_EB>;
			clock-names = "enable";
		};

		modem: modem@65003400 {
			compatible = "sprd,ums9230-modem";
			reg = <0x65003400 0x1000>;

			sprd,syscon-aon-apb = <&aon_apb_regs>;

			resets = <&pmu_gate RESET_PMU_APB_PUBCP_SOFT_RST>;
			power-domains = <&pmu UMS9230_POWER_DOMAIN_PUBCP>;

			memory-region = <&modem_region>;
			firmware-name = "sprd/l_modem.bin";

			wakeup-source;

			sipc {
				#address-cells = <1>;
				#size-cells = <0>;

				mboxes = <&mailbox 2>;

				memory-region = <&sipc_modem_region>;

				sprd,sipx-dl-blk-count = <512>;
				sprd,sipx-dl-ack-count = <64>;
				sprd,sipx-ul-blk-count = <512>;
				sprd,sipx-ul-ack-count = <0>;

				channel@2 {
					reg = <2>;
					sprd,channel-type = "sblock";
					sprd,channel-name = "sblock_imsbr_data";
					sprd,rx-blk-count = <64>;
					sprd,rx-blk-size = <1600>;
					sprd,tx-blk-count = <64>;
					sprd,tx-blk-size = <1600>;
				};

				channel@3 {
					reg = <3>;
					sprd,channel-type = "sblock";
					sprd,channel-name = "sblock_imsbr_ctrl";
					sprd,rx-blk-count = <64>;
					sprd,rx-blk-size = <1600>;
					sprd,tx-blk-count = <64>;
					sprd,tx-blk-size = <1600>;
				};

				channel@4 {
					reg = <4>;
					sprd,channel-type = "sbuf";
					#address-cells = <1>;
					#size-cells = <0>;
					sprd,num-buffers = <20>;
					sprd,tx-buf-size = <0x1000>;
					sprd,rx-buf-size = <0x1000>;

					nv@1 {
						compatible = "sprd,spipe-nv";
						reg = <1>, <1>;
						sprd,channel-name = "spipe_lte_nv";
					};

					timesync@8 {
						compatible = "sprd,spipe-time";
						reg = <8>, <8>;
						sprd,channel-name = "spipe_lte_time";
					};

					/* channel 15 is used for "SRMI" */
				};

				channel@6 {
					reg = <6>;
					sprd,channel-type = "sbuf";
					#address-cells = <1>;
					#size-cells = <0>;
					sprd,num-buffers = <32>;
					sprd,tx-buf-size = <0x800>;
					sprd,rx-buf-size = <0x800>;

					/* SIM 0 port with indications */
					atcmd@0 {
						compatible = "sprd,spipe-at";
						reg = <0>, <0>;
						sprd,channel-name = "stty_lte";
					};

					/* SIM 1 port with indications */
					atcmd@3 {
						compatible = "sprd,spipe-at";
						reg = <3>, <3>;
						sprd,channel-name = "stty_lte";
					};
				};

				channel@7 {
					compatible = "sprd,seth";
					reg = <7>;
					sprd,channel-type = "sipx";
					sprd,channel-name = "seth_lte";
				};

				channel@8 {
					compatible = "sprd,seth";
					reg = <8>;
					sprd,channel-type = "sipx";
					sprd,channel-name = "seth_lte";
				};

				channel@9 {
					compatible = "sprd,seth";
					reg = <9>;
					sprd,channel-type = "sipx";
					sprd,channel-name = "seth_lte";
				};

				channel@18 {
					compatible = "sprd,seth";
					reg = <18>;
					sprd,channel-type = "sipx";
					sprd,channel-name = "seth_lte";
				};

				channel@19 {
					compatible = "sprd,seth";
					reg = <19>;
					sprd,channel-type = "sipx";
					sprd,channel-name = "seth_lte";
				};

				channel@20 {
					compatible = "sprd,seth";
					reg = <20>;
					sprd,channel-type = "sipx";
					sprd,channel-name = "seth_lte";
				};

				channel@21 {
					reg = <21>;
					sprd,channel-type = "sbuf";
					#address-cells = <1>;
					#size-cells = <0>;
					sprd,num-buffers = <1>;
					sprd,tx-buf-size = <0x8000>;
					sprd,rx-buf-size = <0x20000>;

					diag@0 {
						compatible = "sprd,spipe-diag";
						reg = <0>, <0>;
						sprd,channel-name = "sdiag_lte";
					};
				};

				/* channel 23 is "dual sim plug" */

				channel@24 {
					compatible = "sprd,seth";
					reg = <24>;
					sprd,channel-type = "sipx";
					sprd,channel-name = "seth_lte";
				};

				channel@25 {
					compatible = "sprd,seth";
					reg = <25>;
					sprd,channel-type = "sipx";
					sprd,channel-name = "seth_lte";
				};

				channel@26 {
					compatible = "sprd,seth";
					reg = <26>;
					sprd,channel-type = "sipx";
					sprd,channel-name = "seth_lte";
				};

				channel@27 {
					compatible = "sprd,seth";
					reg = <27>;
					sprd,channel-type = "sipx";
					sprd,channel-name = "seth_lte";
				};

				channel@28 {
					compatible = "sprd,seth";
					reg = <28>;
					sprd,channel-type = "sipx";
					sprd,channel-name = "seth_lte";
				};

				channel@29 {
					compatible = "sprd,seth";
					reg = <29>;
					sprd,channel-type = "sipx";
					sprd,channel-name = "seth_lte";
				};

				channel@30 {
					compatible = "sprd,seth";
					reg = <30>;
					sprd,channel-type = "sipx";
					sprd,channel-name = "seth_lte";
				};

				channel@31 {
					compatible = "sprd,seth";
					reg = <31>;
					sprd,channel-type = "sipx";
					sprd,channel-name = "seth_lte";
				};

				/* channel 41 is modem DVFS */
			};
		};
	};

	thermal-zones {
		cputop0-thermal {
			polling-delay-passive = <250>;

			thermal-sensors = <&ap_thm0 0>;

			trips {
				cputop0_alert0: trip-point0 {
					temperature = <70000>;
					hysteresis = <1000>;
					type = "passive";
				};

				cputop0_critical: cpu-crit {
					temperature = <110000>;
					hysteresis = <2000>;
					type = "critical";
				};
			};

			cooling-maps {
				map0 {
					trip = <&cputop0_alert0>;
					cooling-device = <&cpu0 THERMAL_NO_LIMIT THERMAL_NO_LIMIT>,
							 <&cpu1 THERMAL_NO_LIMIT THERMAL_NO_LIMIT>,
							 <&cpu2 THERMAL_NO_LIMIT THERMAL_NO_LIMIT>,
							 <&cpu3 THERMAL_NO_LIMIT THERMAL_NO_LIMIT>,
							 <&cpu4 THERMAL_NO_LIMIT THERMAL_NO_LIMIT>,
							 <&cpu5 THERMAL_NO_LIMIT THERMAL_NO_LIMIT>;
				};
			};
		};

		ank0-thermal {
			polling-delay-passive = <250>;

			thermal-sensors = <&ap_thm0 1>;

			trips {
				cpu0_alert0: trip-point0 {
					temperature = <70000>;
					hysteresis = <1000>;
					type = "passive";
				};

				cpu0_critical: cpu-crit {
					temperature = <110000>;
					hysteresis = <2000>;
					type = "critical";
				};
			};

			cooling-maps {
				map0 {
					trip = <&cpu0_alert0>;
					cooling-device = <&cpu0 THERMAL_NO_LIMIT THERMAL_NO_LIMIT>;
				};
			};
		};

		ank1-thermal {
			polling-delay-passive = <250>;

			thermal-sensors = <&ap_thm0 2>;

			trips {
				cpu1_alert0: trip-point0 {
					temperature = <70000>;
					hysteresis = <1000>;
					type = "passive";
				};

				cpu1_critical: cpu-crit {
					temperature = <110000>;
					hysteresis = <2000>;
					type = "critical";
				};
			};

			cooling-maps {
				map0 {
					trip = <&cpu1_alert0>;
					cooling-device = <&cpu1 THERMAL_NO_LIMIT THERMAL_NO_LIMIT>;
				};
			};
		};

		ank2-thermal {
			polling-delay-passive = <250>;

			thermal-sensors = <&ap_thm0 3>;

			trips {
				cpu2_alert0: trip-point0 {
					temperature = <70000>;
					hysteresis = <1000>;
					type = "passive";
				};

				cpu2_critical: cpu-crit {
					temperature = <110000>;
					hysteresis = <2000>;
					type = "critical";
				};
			};

			cooling-maps {
				map0 {
					trip = <&cpu2_alert0>;
					cooling-device = <&cpu2 THERMAL_NO_LIMIT THERMAL_NO_LIMIT>;
				};
			};
		};

		prometheus7-thermal {
			polling-delay-passive = <250>;

			thermal-sensors = <&ap_thm0 4>;

			trips {
				cpu7_alert0: trip-point0 {
					temperature = <70000>;
					hysteresis = <1000>;
					type = "passive";
				};

				cpu7_critical: cpu-crit {
					temperature = <110000>;
					hysteresis = <2000>;
					type = "critical";
				};
			};

			cooling-maps {
				map0 {
					trip = <&cpu7_alert0>;
					cooling-device = <&cpu7 THERMAL_NO_LIMIT THERMAL_NO_LIMIT>;
				};
			};
		};

		cputop1-thermal {
			polling-delay-passive = <250>;

			thermal-sensors = <&ap_thm0 5>;

			trips {
				cputop1_alert0: trip-point0 {
					temperature = <70000>;
					hysteresis = <1000>;
					type = "passive";
				};

				cputop1_critical: cpu-crit {
					temperature = <110000>;
					hysteresis = <2000>;
					type = "critical";
				};
			};

			cooling-maps {
				map0 {
					trip = <&cputop1_alert0>;
					cooling-device = <&cpu6 THERMAL_NO_LIMIT THERMAL_NO_LIMIT>,
							 <&cpu7 THERMAL_NO_LIMIT THERMAL_NO_LIMIT>;
				};
			};
		};

		gpu-thermal {
			polling-delay-passive = <250>;

			thermal-sensors = <&ap_thm2 0>;
		};

		ank3-thermal {
			polling-delay-passive = <250>;

			thermal-sensors = <&ap_thm2 1>;

			trips {
				cpu3_alert0: trip-point0 {
					temperature = <70000>;
					hysteresis = <1000>;
					type = "passive";
				};

				cpu3_critical: cpu-crit {
					temperature = <110000>;
					hysteresis = <2000>;
					type = "critical";
				};
			};

			cooling-maps {
				map0 {
					trip = <&cpu3_alert0>;
					cooling-device = <&cpu3 THERMAL_NO_LIMIT THERMAL_NO_LIMIT>;
				};
			};
		};

		ank4-thermal {
			polling-delay-passive = <250>;

			thermal-sensors = <&ap_thm2 2>;

			trips {
				cpu4_alert0: trip-point0 {
					temperature = <70000>;
					hysteresis = <1000>;
					type = "passive";
				};

				cpu4_critical: cpu-crit {
					temperature = <110000>;
					hysteresis = <2000>;
					type = "critical";
				};
			};

			cooling-maps {
				map0 {
					trip = <&cpu4_alert0>;
					cooling-device = <&cpu4 THERMAL_NO_LIMIT THERMAL_NO_LIMIT>;
				};
			};
		};

		ank5-thermal {
			polling-delay-passive = <250>;

			thermal-sensors = <&ap_thm2 3>;

			trips {
				cpu5_alert0: trip-point0 {
					temperature = <70000>;
					hysteresis = <1000>;
					type = "passive";
				};

				cpu5_critical: cpu-crit {
					temperature = <110000>;
					hysteresis = <2000>;
					type = "critical";
				};
			};

			cooling-maps {
				map0 {
					trip = <&cpu5_alert0>;
					cooling-device = <&cpu5 THERMAL_NO_LIMIT THERMAL_NO_LIMIT>;
				};
			};
		};

		prometheus6-thermal {
			polling-delay-passive = <250>;

			thermal-sensors = <&ap_thm2 4>;

			trips {
				cpu6_alert0: trip-point0 {
					temperature = <70000>;
					hysteresis = <1000>;
					type = "passive";
				};

				cpu6_critical: cpu-crit {
					temperature = <110000>;
					hysteresis = <2000>;
					type = "critical";
				};
			};

			cooling-maps {
				map0 {
					trip = <&cpu6_alert0>;
					cooling-device = <&cpu6 THERMAL_NO_LIMIT THERMAL_NO_LIMIT>;
				};
			};
		};
	};

	wcn: wcn {
		compatible = "sprd,ums9230-wcn";
		dma-ranges = <0 0x0 0x87000000 0x00800000>;
		#address-cells = <1>;
		#size-cells = <1>;

		sprd,syscon-ap-pub-apb = <&pub_apb_regs>;
		sprd,syscon-ap-aon-apb = <&aon_apb_regs>;
		sprd,syscon-wcn-aon-ahb = <&wcncp_aon_ahb_regs>;
		sprd,syscon-wcn-aon-apb = <&wcncp_aon_apb_regs>;

		resets = <&pmu_gate RESET_PMU_APB_WCN_SOFT_RST>;
		power-domains = <&pmu UMS9230_POWER_DOMAIN_WCN>;

		wakeup-source;

		btwf {
			dma-ranges;
			#address-cells = <1>;
			#size-cells = <1>;

			sprd,syscon-wcn-ahb = <&wcncp_btwf_ahb_regs>;

			memory-region = <&wcn_btwf_region>;
			sprd,sync-region = <&wcn_btwf_sync_region>;
			firmware-name = "sprd/wcnmodem.bin";

			sipc {
				#address-cells = <1>;
				#size-cells = <0>;

				mboxes = <&mailbox 8>;

				memory-region = <&sipc_wcn_btwf_region>;

				channel@4 {
					reg = <4>;
					sprd,channel-type = "sbuf";
					#address-cells = <1>;
					#size-cells = <0>;
					sprd,num-buffers = <16>;
					sprd,tx-buf-size = <0x2400>;
					sprd,rx-buf-size = <0x2400>;

					atcmd@5 {
						reg = <5>, <5>;
						//sprd,channel-name = "spipe_wcn_atcmd";
						sprd,channel-name = "rpmsg-raw"; // testing
					};

					bluetooth@10 {
						compatible = "sprd,bluetooth-sipc";
						reg = <10>, <11>;
						sprd,channel-name = "spipe_wcn_bt";
						/* filled in by bootloader */
						local-bd-address = [00 00 00 00 00 00];
					};

					fm@13 {
						reg = <13>, <14>;
						//sprd,channel-name = "spipe_wcn_fm";
						sprd,channel-name = "rpmsg-raw"; // testing
					};
				};

				/* channel 5 is used for verbose logging */

				channel@7 {
					compatible = "sprd,umw2631-wlan", "sprd,sc2355-wlan";
					reg = <7>;
					sprd,channel-type = "sblock";
					sprd,channel-name = "sblock_wifi_cmd";
					sprd,tx-blk-count = <4>;
					sprd,tx-blk-size = <2048>;
					sprd,rx-blk-count = <8>;
					sprd,rx-blk-size = <2048>;
					memory-region = <&wifi_dma_region>;
					/* filled in by bootloader */
					local-mac-address = [00 00 00 00 00 00];
				};

				channel@8 {
					reg = <8>;
					sprd,channel-type = "sblock";
					sprd,channel-name = "sblock_wifi_data0";
					sprd,tx-blk-count = <512>;
					sprd,tx-blk-size = <512>;
					sprd,rx-blk-count = <512>;
					sprd,rx-blk-size = <1024>;
				};

				channel@9 {
					reg = <9>;
					sprd,channel-type = "sblock";
					sprd,channel-name = "sblock_wifi_data1";
					sprd,tx-blk-count = <8>;
					sprd,tx-blk-size = <1664>;
					sprd,rx-blk-count = <64>;
					sprd,rx-blk-size = <1664>;
				};

				channel@11 {
					reg = <11>;
					sprd,channel-type = "sbuf";
					#address-cells = <1>;
					#size-cells = <0>;
					sprd,num-buffers = <1>;
					sprd,tx-buf-size = <0x400>;
					sprd,rx-buf-size = <0x400>;

					loopcheck@0 {
						reg = <0>, <0>;
						sprd,channel-name = "spipe_wcn_loopcheck";
					};
				};

				channel@12 {
					reg = <12>;
					sprd,channel-type = "sbuf";
					#address-cells = <1>;
					#size-cells = <0>;
					sprd,num-buffers = <1>;
					sprd,tx-buf-size = <0x400>;
					sprd,rx-buf-size = <0x400>;

					assert@0 {
						reg = <0>, <0>;
						sprd,channel-name = "spipe_wcn_assert";
					};
				};
			};
		};

		gnss {
			dma-ranges = <0x100000 0x480000 0x80000>;
			#address-cells = <1>;
			#size-cells = <1>;

			sprd,syscon-wcn-ahb = <&wcncp_gnss_ahb_regs>;

			memory-region = <&wcn_gnss_region>;
			sprd,sync-region = <&wcn_gnss_sync_region>;
			firmware-name = "sprd/gnssmodem.bin";

			sipc {
				#address-cells = <1>;
				#size-cells = <0>;

				mboxes = <&mailbox 9>;

				memory-region = <&sipc_wcn_gnss_region>;

				channel@4 {
					reg = <4>;
					sprd,channel-type = "sbuf";
					#address-cells = <1>;
					#size-cells = <0>;
					sprd,num-buffers = <1>;
					sprd,tx-buf-size = <0xc800>;
					sprd,rx-buf-size = <0x19000>;

					gnss@0 {
						reg = <0>, <0>;
						//sprd,channel-name = "stty_gnss";
						sprd,channel-name = "rpmsg-raw";
					};
				};
			};
		};
	};

	ext_26m: clk-26m {
		compatible = "fixed-clock";
		#clock-cells = <0>;
		clock-frequency = <26000000>;
		clock-output-names = "ext-26m";
	};

	ext_32k: clk-32k {
		compatible = "fixed-clock";
		#clock-cells = <0>;
		clock-frequency = <32768>;
		clock-output-names = "ext-32k";
	};

	rco_100m: clk-100m {
		compatible = "fixed-clock";
		#clock-cells = <0>;
		clock-frequency = <100000000>;
		clock-output-names = "rco-100m";
	};

	dphy_250m: dphy-250m {
		compatible = "fixed-clock";
		#clock-cells = <0>;
		clock-frequency = <250000000>;
		clock-output-names = "dphy-250m";
	};

	dphy_333m3: dphy-333m3 {
		compatible = "fixed-clock";
		#clock-cells = <0>;
		clock-frequency = <333300000>;
		clock-output-names = "dphy-333m3";
	};
};
