# SPDX-License-Identifier: GPL-2.0-only
menuconfig SND_SOC_SPRD
	tristate "Spreadtrum"
	depends on ARCH_SPRD || COMPILE_TEST
	help
	  Say Y or M if you want to add support for codecs attached to
	  the Spreadtrum SoCs' Audio interfaces.

if SND_SOC_SPRD

config SND_SOC_SPRD_COMMON
	tristate

config SND_SOC_SPRD_PLATFORM
	tristate
	select SND_SOC_COMPRESS

config SND_SOC_SPRD_MCDT
	tristate "Spreadtrum multi-channel data transfer support"
	depends on SND_SOC_SPRD
	help
	  Say y here to enable multi-channel data transfer support. It
	  is used for sound stream transmission between audio subsystem
	  and other AP/CP subsystem.

config SND_SOC_SPRD_UMS9230
	tristate "SoC Audio support for UMS9230"
	depends on SND_SOC_SPRD
	select SND_SOC_SPRD_COMMON
	select SND_SOC_SPRD_MCDT
	select SND_SOC_SPRD_PLATFORM
	select SND_SOC_SPRD_VBC_V4_DSP
	help
	  Say Y here to enable audio support for typical systems such as
	  mobile phones based on the Unisoc UMS9230 SoCs

config SND_SOC_SPRD_VBC_V4_DSP
	tristate "Unisoc VBC v4 (DSP) support"
	depends on SPRD_AGDSP
	depends on SND_SOC_SPRD_MCDT
	help
	  Say Y here to add support for DSP-based audio in SoCs such as
	  UMS9230.

endif
